.Button {
	font-family: inherit;
	color: #fff;
	padding: 2rem;
	border-radius: 8px;
	border: none;
	background: transparent;
	outline: none;
	cursor: pointer;
}

.Button:disabled {
	background-color: #aaa !important;
}
